<h1>Welcome To Dice</h1>

<% die1 = rand(1..6) %>

<% die2 = rand(1..6) %>

<P>
<img src="/images/dice/<%= die1 %>.svg">
<P>

<%= die1 %>
<%= die2 %>
<p>

<P>
The total is <%= die1 +die2 %>
<p>


<a href="/dice"> roll here </a>