<h1>Welcome Taco Enthusiasts</h1>

<P>Welcome<p>

<% fillings = ["Carnitas", "Pescado", "Mushroom", "Avacado"] %>

<P>We have <%= fillings.count %> tacos<p>

<ul>
  <% for filling in fillings %>
  <li> <%= filling%> </li> 
  <% end %>
</ul>
